<h1>User List</h1> 
<div class="menu">
  <ul>
    <li *ngFor="let user of userList" >{{user.name}}</li>
  </ul>
</div> 

<ngx-snackbar [position]="'bottom-right'"  [background]="'#cb242a'"></ngx-snackbar>
<!-- here showError is an input sent to component app-custom-error from app component and emiiter gets emiited and transfer to app component -->
<!-- (emitter) = "getData($event)" -->
<div *ngIf="showError">
    <app-custom-error *ngFor="let e of errorList"  [errorObj]="e" ></app-custom-error>
</div>


<router-outlet></router-outlet>
